In [1]:
import pandas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


watch_data = pd.read_csv("unclean_smartwatch_health_data.csv")

watch_data

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402748595032027,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.3821659358529015,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.91654920303435,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691233932149209,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001039740254,Actve,5

In [4]:
watch_data.isnull().sum()

User ID                   201
Heart Rate (BPM)          400
Blood Oxygen Level (%)    300
Step Count                100
Sleep Duration (hours)    150
Activity Level            200
Stress Level              200
dtype: int64

In [6]:
watch_data["User ID"].dropna(inplace = True)

In [5]:
watch_data["Sleep Duration (hours)"] = pd.to_numeric(watch_data["Sleep Duration (hours)"], errors="coerce")

In [8]:
watch_data["Stress Level"] = pd.to_numeric(watch_data["Stress Level"] , errors=  "coerce")
watch_data

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1.0
1,NaN,NaN,98.532195,727.601610,6.538239,Highly_Active,5.0
2,1860.0,247.803052,97.052954,2826.521994,NaN,Highly Active,5.0
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Actve,3.0
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6.0
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7.0
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2.0
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4.0
9998,4907.0,NaN,98.401058,3364.788855,5.691234,Active,8.0
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Actve,5.0

In [9]:
percent_null = watch_data.isnull().mean() * 100
print(percent_null)

User ID                   2.01
Heart Rate (BPM)          4.00
Blood Oxygen Level (%)    3.00
Step Count                1.00
Sleep Duration (hours)    3.97
Activity Level            2.00
Stress Level              2.49
dtype: float64

In [10]:
watch_data.dropna(inplace=True)

In [ ]:
watch_data["User ID"].mean()
watch_data["Heart Rate (BPM)"].mean()
watch_data['Blood Oxygen Level (%)'].mean()
watch_data['Step Count'].mean()
watch_data['Sleep Duration (hours)'].mean()
watch_data['Activity Level'].mode()
watch_data['Stress Level'].mean()

6996.275242812299

In [12]:
watch_data

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1.0
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Actve,3.0
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly_Active,10.0
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Seddentary,2.0
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1.0
...,...,...,...,...,...,...,...
9994,1942.0,77.912299,98.640583,10061.145291,5.428635,Seddentary,10.0
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7.0
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2.0
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4.0
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Actve,5.0

In [19]:
watch_data['Activity Level'].unique()

array(['Highly Active', 'Actve', 'Highly_Active', 'Seddentary',
       'Sedentary', 'Active'], dtype=object)

In [40]:
filtered_data = watch_data[(watch_data["Sleep Duration (hours)"] > 6)& (watch_data['Activity Level'] == 'Highly Active')]
filtered_data

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1.0
20,2685.0,74.105003,99.646065,2601.396495,6.751333,Highly Active,9.0
24,2515.0,69.424795,99.254951,3306.110412,8.415422,Highly Active,1.0
32,1459.0,81.782541,98.188991,1540.728037,7.213771,Highly Active,10.0
35,3300.0,80.113091,100.000000,2157.694847,7.081259,Highly Active,4.0
...,...,...,...,...,...,...,...
9909,1377.0,86.724729,98.363485,504.516813,6.365691,Highly Active,9.0
9925,2405.0,92.033456,100.000000,153.819396,8.001261,Highly Active,1.0
9926,3086.0,71.083077,100.000000,9915.260884,6.919424,Highly Active,5.0
9972,1881.0,74.755744,93.445342,164.026524,8.052268,Highly Active,2.0
9985,1342.0,68.673355,100.000000,13560.438149,7.243436,Highly Active,7.0